.App{
  width: 100vw;
  min-height: 90vh;
  padding: 10px 10vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}
h2{
  text-align: center;
}
.comments{
  border: 1px solid #000;
}

.newComment{
  margin-top: 50px;
  text-align: right;
  bottom: 10px;
  width: 80vw;
}

.newComment textarea{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
